<div class="card card-primary card-inverse">
        <div class="card-header">
          Detalles
          <span class="mr-auto"></span>
          <div class="card-controls">
            <a href="javascript:;" >
              <i class="icon icon-software-pencil"></i>
            </a>
          </div>
        </div>
        <div class="card-body row" >
          <div class="col">
            <p class="card-text">
              <b>Nombre:</b> Roberto Aguilar<!-- {{user.firstName}} {{user.lastName}} -->
            </p>
            <p class="card-text">
              <b>Username:</b> Excalibur<!-- {{user.username}} -->
            </p>
            <p class="card-text">
              <b>Email:</b> aguilar_.roberto@hotmail.com<!--  {{user.email}} -->
            </p>
            <p class="card-text">
              <b>Teléfono:</b> 3271052472<!-- {{user.phoneNumber}} -->
            </p>
            <br>
          </div>
          <div class="col" >
            <p class="card-text">
              <b>Foto de Perfil:</b>
            </p>
            <div class="justify-content-center">
              <img class="img-thumbnail" src="assets/iconob5.png"  style="max-height: 150px">
            </div>
          </div>
        </div>
      </div>
